# Created by .ignore support plugin (hsz.mobi)
.idea/artifacts/
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
classes/
model/model.iml
model/target/
model/test_service_log4j.log
services/log4j.log
services/services.iml
services/target/
vintoHelpDesk.iml
web/target/
web/web.iml
