<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME Analitic</title>
    <!--<style type="text/css">-->
        <!--div {-->
            <!--background: url(resources/pic/backgrnd3.jpg)-->
        <!--}-->
    <!--</style>-->
    <link rel="stylesheet" href="/resources/css/foundation.css">
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
<h1> Привет!!! Это Техподдержка.</h1>
</div>

<script src="/resources/js/vendor/jquery.js"></script>
<script src="/resources/js/vendor/what-input.js"></script>
<script src="/resources/js/vendor/foundation.js"></script>
<script src="/resources/js/app.js"></script>
</body>
</html>
