<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <!--<style type="text/css">-->
        <!--div {-->
            <!--background: url(/resources/pic/login.jpg)-->
        <!--}-->
    <!--</style>-->
    <link rel="stylesheet" href="/resources/css/foundation.css">
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body>
<div class="grid-container">
    <div class="row">
        <div class="medium-3 columns">
        </div>
        <div class="medium-6 columns">
            <h1 th:text="#{login.auth}">Авторизация пользователя</h1>
            <a href="?language=ru_RU">На русском языке /</a> <a href="?language=en_US">
            in English</a>
            <!--<div class="switch small">-->
            <!--<input class="switch-input" id="smallSwitch" type="checkbox" name="exampleSwitch">-->
            <!--<label class="switch-paddle" for="smallSwitch">-->
            <!--<span class="show-for-sr">Small Portions Only</span>-->
            <!--</label><br>-->
            <!--</div>-->
            <br>
            <h4 th:text="#{login.enter_login}"> Enter Login and Password </h4>

            <form th:action="@{/login}" method="post">
                <label for="username" th:text="#{email_you_login.emaillogin}"><strong>E-mail: </strong></label>
                <input type="text" name="username" id="username">
                <label for="password" th:text="#{login.password}"><strong>E-mail: </strong></label>
                <input type="password" name="password" id="password"><br>
                <button type="submit" class="expanded button" th:text="#{login.enter}">Enter</button>
                <br>
            </form>
            <a class="expanded button" href="/registration" th:text="#{login.registration}">Registration}</a>
        </div>
        <div class="medium-3 columns">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<script src="/resources/js/vendor/jquery.js"></script>
<script src="/resources/js/vendor/what-input.js"></script>
<script src="/resources/js/vendor/foundation.js"></script>
<script src="/resources/js/app.js"></script>
</body>
</html>
